# Simulation artifacts
verif/sim_build/
verif/*.xml
verif/*.log
*.vvp
*.vcd
*.fst

# Python
__pycache__/
*.pyc
.venv/

# OpenLane / PNR outputs
runs/
tmp/
reports/
logs/

# Editors
.vscode/
.idea/

# OS
.DS_Store

